*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans', sans-serif;
    place-items: centre;
    /* min-height: 100vh; */
    display: flex;
    background-color: #854d27;
}
.container{
    
    background-color:antiquewhite;
    animation-name: color;
    animation-duration: 4s;
    margin: 10%;
}
@keyframes color {
    from {background-color: antiquewhite;}
    to {background-color: white;}
  }
h1{
    color:#351897;
}
p{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
}
.spaghetti img{
    height: 490px;
    width: 415px;
    
   
}
.container span{
    font-size: 0.8rem;
  color: #ffa800;
  margin: -5px 0 20px;
  transition: ease-in
}

.container{
    display: flex;
}
.describe{
    padding: 47px ;
    
}


/* Button styling */
.btn {
    position: absolute;
    
    right: 205px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    background-color: #fc9400;
    color: white;
    padding:22px 45px;
    font-size:1rem;
    text-transform: uppercase;
    border-radius: $border-radius;
    cursor:pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
}
    i {
     margin-left: 20px;
     font-size: 1.5rem;
    }
    a{
        text-decoration: none;
    }

    /* Recipe stling */
   .main{
    
   }